.link {
    color: inherit;
    font-weight: 700;
    text-transform: uppercase;
    animation: 1s ease-out 0s 1 fadeIn;    
    padding: 0.6rem 1.3rem;
    margin: 0 0.3rem;
}

.link:hover {
    color: inherit;
    opacity: 0.6;
    transition: 0.3s;
}

.link.active {
    border: 1px solid white;
}