.header {
    color: white;
}

.header-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
    text-transform: uppercase;
}

.header-subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header-description {
    padding: 1rem 0;
    font-weight: 600;
    line-height: 1rem;
    font-size: 17px;
    letter-spacing: 2px;
}

.header-side-content {
    width: 30%;
    padding: 0 20px;
}

.header-icons {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.header-icons :first-child {
    margin-right: 2rem;
}

.mail-icon,
.linkedin-icon {
    color:inherit;
    font-size: 25px;
  }

.header-icons :hover {
    color: var(--bg-color);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .header-side-content {
        display: none
    }
    
    .header {
        padding: 1rem;
    }
}
  