.resume-container {
    height: 80vh;
}

.resume-button-container {
    width: 100%;
    text-align: center;
}

.resume-button {
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: unset;
    font-size: 14px;
    background-color: white;
}

.resume-button:hover {
    background-color: var(--bg-secondary-color);
}