.resume-container {
    height: 80vh;
}

.resume-button-container {
    width: 100%;
    text-align: center;
}

.resume-button {
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: unset;
    font-size: 0.9rem;
    background-color: white;
}

.resume-button:hover {
    background-color: #999;
    transition: 1s;
}

.resume-download-error {
    color: red;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.resume-download-success {
    color: green;
    font-size: 1.3rem;
    margin-top: 1rem;
}