.header {
    color: white;
}

.header-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
    text-transform: uppercase;
}

.header-subtitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header-description {
    padding: 1rem 0;
    font-weight: 600;
    line-height: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
}

.header-side-content {
    width: 30%;
    padding: 0 1.3rem;
}

.header-icons {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.header-icons :first-child {
    margin-right: 2rem;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 3rem;
    }

    .header-subtitle {
        font-size: 1rem;
    }
}