.divider-container,
.video-section-title,
.video-with-description {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.video-background {
    background-color: #1e1e1e;
}

.video-section-title {
    padding: 2.6rem 1.3rem;
    color: rgb(230, 230, 230);
    font-size: 2.7rem;
    font-weight: 700;
    font-family: none;
    text-transform: uppercase;
    box-sizing: border-box;
}
 
.full-description-container,
.video-container {
    width: 50%;
    padding: 1.3rem;
    color: #a1a1a1;
}

.video-container :first-child {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    min-height: 300px;
	animation: fadeIn 3s forwards;
}

.divider {
    box-sizing: border-box;
    margin: 0 1.3rem;
    background-color: rgba(0,0,0,0.13);
    width: 100%;
    border: none;
    height: 1px;
}

.subtitle-container {
    font-size: 175%;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.description-container {
    margin-bottom: 1.3rem;
}

@media (max-width: 768px) {
    .video-with-description {
        display: block;
    }

    .video-container,
    .full-description-container {
        width: auto;
    }

    .video-section-title {
        font-size: 24px;
    }
}
