.desktop-link {
    color: inherit;
    font-weight: 700;
    text-transform: uppercase;
    animation: 1s ease-out 0s 1 fadeIn;    
    padding: 0.6rem 1.3rem;
    margin: 0 0.3rem;
}

.desktop-link:hover {
    color: inherit;
    opacity: 0.6;
    transition: 0.3s;
}

.desktop-link.active {
    border: 1px solid white;
}

.desktop-link.name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}