.footer {
    background-color: var(--bg-secondary-color);
    padding: 0 5rem;
    height: 20vh;
}

.dark-bg .footer {
    background-color: var(--bg-color);
    color: white
}

.footer-text {
    display: flex;
    padding: 0.3rem;
    justify-content: end;
    align-items: end;
    height: 70%;
    font-size: 0.9rem;
}