.toggle {
  background-color: #333;
  border-radius: 30px;
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.toggle-icon {
  font-size: 1rem;
}

.toggle.light {
  background-color: white;
  color: #333;
}