.portfolio-layout {
    background-image: url("https://raw.githubusercontent.com/Agustin-Placenti/myPortfolio/0a7ac9e92c7d7a86d4bf87912f3eca8bb01f965c/public/img.png");
    background-repeat: no-repeat;
    background-position: 0.00% 41.59%;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;
}

.closed,
.open {
    position: fixed;
    top: 0;
    background: white;
    height: 100%;
    width: 100%;
    margin-top: 3.5rem;
    animation: 0.5s ease-out 0s 1 expandToBottom;
}

.closed {
    animation: 0.5s ease-out 0s 1 shrinkToTop;
}

.remove {
    display: none;
  }

.open-menu-item {
    display:block;
    cursor: pointer;
    color: inherit;
    font-size: 0.8rem;
    background-color: white;
    text-align: center;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.open-menu-item:hover {
    color: inherit;
    opacity: 0.6;
    transition: 0.3s;
    background-color: rgba(0,0,0,0.05);
}

.open .active {
    background-color: rgba(0,0,0,0.05);
}


@media (min-width: 425px) {
    .open-menu-item {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .open {
        display: none;
    }
}