.portfolio-layout {
    background-image: url("https://raw.githubusercontent.com/Agustin-Placenti/AguPlacentiPortfolio/main/public/img.png");
    background-repeat: no-repeat;
    background-position: 0.00% 41.59%;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;
}

.dark-bg {
    background-color: var(--bg-color);
}

.light-bg .footer,
.dark-bg .footer,
.dark-bg,
.light-bg {
    transition: 1s;
}

.light-bg {
    background-color: white;
    color: black;
}