.portfolio-layout {
    background-image: url("http://www.nathaliejankie.nl/uploads/1/1/8/8/118854029/background-images/1680324574.png");
    background-repeat: no-repeat;
    background-position: 0.00% 41.59%;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;
}