.navbar {
    display:flex;
    justify-content: space-between;
    place-items: center;
    padding: 2rem;
    font-size: 0.9rem;
    color: white;
    position: fixed;
    top: 0;
    z-index: 12;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    max-height: 3.5rem;
    overflow: hidden;
}

.layout {
  background-color: var(--bg-color);
}

.opacity {
    background-color: var(--bg-color);
    opacity: 1;
}

.left-nav {
    display: flex;
    align-items: center;
    max-width: 85%;
    max-height: inherit;
}

.name {
    font-weight: 550 !important;
}

.menu-icon:hover {
    color: inherit;
    opacity: 0.6;
    transition: 0.3s;
}

.active:focus {
    outline: none;
    padding: 12px 22px;
}

.menu-icon {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .right-nav .desktop-link {
        display: none;
    }

    .navbar {
        padding: 1rem;
        font-size: 1rem;
        transition: .5s;
    }
}